.reviews {
  width: 95%; // override the section width defined in base.scss
  padding-left: 0;
  padding-right: 0;

  // convert width back to 90% at tab-land-port

  @include respond(desktop-s) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__stars {
    display: flex;
    justify-content: center;
    align-content: center;
    &__star {
      // filter: blur(0.rem);
      width: 5rem;
      height: 5rem;
      color: $background-gold;
    }
  }
}

.carousel {
  
  overflow: hidden;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include respond(phone-s) {
    height: 27rem;
  }

  @include respond(phone-m) {
    height: 27rem;
  }

  @include respond(phone-l) {
    height: 27rem;
  }

  @include respond(tab-port-s) {
    height: 30rem;
  }

  @include respond(tab-port) {
    
  }   

  @include respond(tab-land) {
    height: 35rem;
  }

  @include respond(desktop-s) {
    height: 43rem;
  }
}

.slider {
  height: 100%;

  &__slide {
    position: absolute;
    height: 100%;
    
    &__testimonial { //this is content
      
      background-color: $background-white-light;
      width: 95%;
      height: 98%;
      padding: 5%;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      @include respond(tab-port-l) {
        width: 90%;
      }

      @include respond(tab-land-m) {
        width: 80%;
      }

      @include respond(tab-land) {
        // padding: 5%;
        width: 75%;
      }

      @include respond(tab-land-l) {
        width: 70%;
      }

      @include respond(desktop-s) {
        padding: 4%;
        width: 70%;
      }

      &__link {
        cursor: pointer;
      }

      &__text {
        text-align: justify;

        @include respond(tab-land){
          text-align: justify;
        }
      }

      &__reviewer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;


        &__img {
          width: 5rem;
          height: 5rem;
          border-radius: 20rem;
          // display: inline-block;
          margin-right: 1.5rem;

          @include respond(tab-land) {
            width: 7rem;
            height: 7rem;
            margin-right: 2rem;
          }

          @include respond(desktop-s) {
            width: 8rem;
            height: 8rem;
            margin-right: 2.5rem;
          }
        }

        &__name {
          // display: inline-block;
        }
      }
    }
  }
  // &__chevron-side {
  //   display: none;
  // }
}

.chevron {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  @include respond(tab-land) {
    gap: 2.5rem;
  }

  &__img {
    width: 1.5rem;
    height: 1.5rem;
  }


  &__btn {
    width: 3rem;
    height: 3rem;
    // padding: 0.7rem;
    color: $background-white-light;
    display: flex;
    background: $background-blue-dark;
    border-radius: 24rem;
    border: 0.2rem solid $background-blue-dark;
    // position: relative;
    z-index: 1;
    transition: all 0.1s ease-out;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0); 

    // &:before {
    //   background: linear-gradient(139deg, rgba(41, 241, 253, 0.902) 0%, rgba(41,170,208,0.9) 20%, rgba(155,61,235,0.9) 84%);
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   position: absolute;
    //   z-index: -1;
    //   opacity: 0;
    //   transition: opacity 0.3s ease-out;
    //   border-radius: 30rem;
    //   box-shadow: $shadow-gray;
    // }

    &:hover {
      // &:before {
      //   opacity: 1;
      // }
      color: $background-blue-dark;
      background: $background-white-light;
    }

    @include respond(tab-land) {
      width: 3.5rem;
      height: 3.5rem;
    }
    
  }
}