.reviews {
  width: 95%; // override the section width defined in base.scss
  padding-left: 0;
  padding-right: 0;
  position: relative;

  // convert width back to 90% at tab-land-port

  @include respond(desktop-s) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__stars {
    display: flex;
    justify-content: center;
    align-content: center;
    &__star {
      // filter: blur(0.rem);
      width: 5rem;
      height: 5rem;
      color: $background-gold;
    }
  }
}

.quote__img {
  display: none;

  @include respond(tab-land-m) {
    display: initial;
    position: absolute;
    width: 5rem;

    @include respond(tab-land) {
      width: 8rem;
    }

    &--left {
      top: 30%;
      left: 3%;

      @include respond(tab-land) {
        top: 25%;
      }

      @include respond(desktop-s) {
        left: 7%;
      }
    }

    &--right {
      top: 75%;
      right: 3%;

      @include respond(desktop-s) {
        top: 80%;
        right: 7%;
      }
    }
  }
  
}



.carousel {
  
  overflow: hidden;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include respond(phone-s) {
    height: 27rem;
  }

  @include respond(phone-m) {
    height: 27rem;
  }

  @include respond(phone-l) {
    height: 27rem;
  }

  @include respond(tab-port-s) {
    height: 30rem;
  }

  @include respond(tab-port) {
    
  }   

  @include respond(tab-land) {
    height: 35rem;
  }

  @include respond(desktop-s) {
    height: 43rem;
  }
}

.slider {
  height: 100%;

  &__slide {
    position: absolute;
    height: 100%;
    
    &__testimonial { //this is content
      
      background-color: $background-white-light;
      width: 95%;
      height: 98%;
      padding: 5%;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      @include respond(tab-port-l) {
        width: 90%;
      }

      @include respond(tab-land-m) {
        width: 80%;
      }

      @include respond(tab-land) {
        // padding: 5%;
        width: 75%;
      }

      @include respond(tab-land-l) {
        width: 70%;
      }

      @include respond(desktop-s) {
        padding: 4%;
        width: 70%;
      }

      &__link {
        cursor: pointer;
      }

      &__text {
        text-align: justify;

        @include respond(tab-land){
          text-align: justify;
        }
      }

      &__reviewer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;


        &__img {
          width: 5rem;
          height: 5rem;
          border-radius: 20rem;
          // display: inline-block;
          margin-right: 1.5rem;

          @include respond(tab-land) {
            width: 7rem;
            height: 7rem;
            margin-right: 2rem;
          }

          @include respond(desktop-s) {
            width: 8rem;
            height: 8rem;
            margin-right: 2.5rem;
          }
        }

        &__name {
          // display: inline-block;
        }
      }
    }
  }
  // &__chevron-side {
  //   display: none;
  // }
}

