$font-primary-dark: #212121;
$font-secondary-dark: #144f78;
$font-secondary-gray:#565454;
// $font-purple: rgb(152, 14, 152);

$background-white-light: #ffffff;
// $background-white-light-opaque: #ffffffef;
$background-white-light-opaque: #ffffffb1;
$background-white-light-opaque-less: #fffffff5;
$background-white-gray: #f1f4f7;

$background-gray-dark: #848282;
$background-gray-light: #acacac;

$background-blue-dark: #00beff;
$background-blue-light: #bce5f7;
$background-blue-light-transparent: #bce5f7c6;
$background-yellow: #fff568;
$background-red: #ec008c;
$background-gold: #f0d250;
$background-green-light: #c4df9b;
$background-green-dark: #82ca9c;
$background-orange: #f68e56;
$background-pink: #f49ac1;
$background-aqua: #D3FDFE;

$shadow-gray: 0 0.2rem 0.2rem $background-gray-light;
$shadow-aqua: 0 0.2rem 0.2rem $background-aqua;


// Hexagon Clip Path
// clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
