
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: $font-primary-dark;
  overflow-x: hidden;
}

body {
  background-color: $background-white-gray;
  // background-color: $background-white-light;
  overflow: hidden;
}

.header, .footer {
  width: 100%;
}

.header {
  background-color: $background-white-light;
}

.footer {
  background-color: $background-navy-blue;
}

.section {
  // max-width: 130rem;
  margin: 0 auto;
  width: 90%;
  // width: 95%;
  // transition: all 1s ease-out;

  &__header {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    z-index: 999;
  }

  @include respond(desktop-s) {
    max-width: 1280px;
  }

  &__hidden {
    opacity: 0;
    transform: translateY(10rem);
    // transition: all 1s;
  }

  &__reveal {
    transition: all 1s;

    &__healthcare {
      transition: all 1s;
    }
  }
}

.sec {
  width: 100%;
  box-sizing: initial;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &--1 {
    // background-color: $background-white-light;
    position: relative;
    // height: 75vh;
    // clip-path: polygon(0 0, 100% 0, 100% 82%, 0% 100%);

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: $background-white-light;
      clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    }

    @include respond(tab-land-m) {
      padding-top: 6rem;
      padding-bottom: 5rem;
    }

    @include respond(desktop) {
      padding-top: 10rem;
      padding-bottom: 5rem;
    }
    
  }

  &--2 {
    // background-color: $background-white-gray;
    background: linear-gradient(0deg, $background-white-light 46%, $background-white-gray 46%);
    position: relative;
    z-index: 5;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 47%;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 60%;
      background-color: $background-white-gray;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);

      @include respond(tab-land-m) {
        top: 42%;
      }
    }
  }

  &--3 {
    // background-color: $background-white-light;
    // background-color: $background-white-gray;
    background: linear-gradient(0deg, $background-white-gray 46%, $background-white-light 46%);
    position: relative;
    z-index: 4;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 47%;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 50%;
      background-color: $background-white-light;
      // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
      clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);

      @include respond(tab-land-m) {
        top: 42%;
      }
    }
  }

  &--4 {
    background-color: $background-white-gray;
    // background-color: $background-white-gray;
  }
}

.main {
  &__section {
    box-sizing: border-box;
    padding-top: 4.5rem;
    padding-bottom: 7rem;
    // margin-top: 4.5rem;
    // margin-bottom: 1rem;

    @include respond(tab-land) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    
    @include respond(desktop-s) {
      padding-top: 8rem;
      padding-left: 4rem;
      padding-right: 4rem;
      // margin-top: 16rem;
      // margin-bottom: 3rem;
    }

    &__hero {
      padding-top: 7.5rem;
      padding-bottom: 4rem;
      
      
      @include respond(tab-land-s) {
        padding-left: 3rem;
        padding-right: 3rem;
      }

      @include respond(desktop) {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }

    // &__healthcare {
    //   z-index: 10;
    // }
  }
}





