
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: $font-primary-dark;
  overflow-x: hidden;
}

body {
  background-color: $background-white-gray;
  overflow: hidden;
}

.header, .footer {
  background-color: $background-white-light;
  width: 100%;
}

.section {
  // max-width: 130rem;
  margin: 0 auto;
  width: 90%;
  // width: 95%;
  // transition: all 1s ease-out;

  &__header {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  @include respond(desktop-s) {
    max-width: 1280px;
  }

  &__hidden {
    opacity: 0;
    transform: translateY(10rem);
    // transition: all 1s;
  }

  &__reveal {
    transition: all 1s;

    &__healthcare {
      transition: all 1s;
    }
  }
}

.sec {
  width: 100%;
  box-sizing: initial;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &--1 {
    background-color: $background-white-light
  }

  &--2 {
    // background-color: $background-white-gray;
  }

  &--3 {
    background-color: $background-white-light
  }

  &--4 {
    // background-color: $background-white-gray;
  }
}

.main {
  &__section {
    padding-top: 4.5rem;
    padding-bottom: 7rem;
    // margin-top: 4.5rem;
    // margin-bottom: 1rem;

    @include respond(tab-land) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    
    @include respond(desktop-s) {
      padding-top: 8rem;
      padding-left: 4rem;
      padding-right: 4rem;
      // margin-top: 16rem;
      // margin-bottom: 3rem;
    }
  }
}





