/* ---- BASE ---- */

html {
  // font-family: 'Manrope', sans-serif;
  //font-weight, color, line-height
  font-family: 'Public Sans', sans-serif;
}

.section {
  &__header {
    // font-family: 'Vollkorn', serif;
    // font-size: 3rem;
    font-size: 4rem;
    font-weight: 600;
    color: $background-navy-blue;
  }
}

.bulk-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

.btn {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

.inline-link {
  color: $font-secondary-dark;
  font-weight: 700;

  &--footer {
    // color: $background-gray-dark;
    color: $background-white-light;
    font-weight: 600;
  }
}

/* ---- Header ---- */

.header {
  // color: $background-navy-blue;
  &__link {
    // font-size: 2rem;
    // color: $font-primary-dark;
    // font-weight: 700;

    font-size: 2rem;
    // color: $font-primary-dark;
    color: $background-navy-blue;
    font-weight: 700;

    @include respond(tab-land) {
      font-size: 1.5rem;
    }
  }
}



/* ---- Hero ---- */

.hero {
  &__text {
    // font-family: 'Vollkorn', serif;
    color: $background-navy-blue;
    &__header {
      &--main {
        // font-size: 3rem;
        font-size: 4rem;
        font-weight: 700;

        // @include respond(desktop-s) {
        //   font-size: 5rem;
        // }
      }

      &--secondary {
        // font-size: 2.3rem;
        font-size: 3rem;
        color: $font-secondary-dark;
      }

      &--tertiary {
        font-family: 'Public Sans', sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        color: $font-secondary-gray;
      }
    }
  }

  &__btn {
    font-weight: 500;
    @include respond(desktop) {
      font-size: 2rem;
    }
  }
}


/* ---- Reviews ---- */

.slider {
  &__slide {
    &__testimonial {

      &__link {
        color: $font-primary-dark;
      }

      &__text {
        font-size: 1.2rem;

        // @include respond(phone-m) {
        //   font-size: 1.2rem;
        // }

        @include respond(phone-l) {
          font-size: 1.3rem;
        }

        @include respond(tab-port-s) {
          font-size: 1.35rem;
        }

        @include respond(tab-port) {
          font-size: 1.4rem;
          line-height: 2rem;
        }

        @include respond(tab-land-s) {
          // font-size: 1.5rem;
          // line-height: 2rem;
        }

        @include respond(tab-land) {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
      }

      &__reviewer {
        &__name {
          color: $background-navy-blue;
          font-size: 1.2rem;
          font-weight: 700;

          @include respond(phone-l) {
            font-size: 1.3rem;
          }
  
          @include respond(tab-port-s) {
            font-size: 1.35rem;
          }

          @include respond(tab-port) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}


/* ---- Plans ---- */

.cards {
  &__card {
    &__desc {
      &__header {
        // font-family: 'Vollkorn', serif;
        color: $background-navy-blue;
        font-size: 2.2rem;
        font-weight: 700;
      }
    }
  }
}



/* ---- About Me ---- */

.about-me {
  &__content {
    &__header {
      // font-family: 'Vollkorn', serif;
      color: $background-navy-blue;
      // font-size: 2rem;
      font-size: 2.2rem;
      font-weight: 700;
    }
  }
}


/* ---- Footer ---- */

.footer {

  &__section {
    text-align: center;

    &__header {
      color: $background-white-light;
    }
    
    &__text {
      // color: $background-gray-dark;
      color: $background-white-light;
      font-size: 1.3rem;
    }
  }
}