
.shadow {
  // box-shadow: 0 0.2rem 0.2rem $background-gray-light;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.blur {
  backdrop-filter: blur(4rem);
}

.lazy-img {
  filter: blur(2rem);
}
// .header-height-insert {
//   margin-top: 6.5rem; // height of header + margin of hero
// }